<footer class="bg-black">
    <div class="col-6">
        <h3>Company<span>logo</span></h3>
        <p class="footer-company-name">Company Name © 2015</p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
    </div>
    <div class="col-6">
        <p>Contact Us</p>
        <form action="#" method="post">
            <input type="text" name="email" placeholder="Email" class="form-control">
            <textarea name="message" placeholder="Message" class="form-control"></textarea>
            <button class="btn btn-primary">Send</button>
        </form>
    </div>
</footer>
