@{
    ViewBag.Title = "About";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h3 style="font-family:'Comic Sans MS';">About Us</h3>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-11 ">
                <p style="font-family:'Comic Sans MS';font-size:medium;">
                    Everest was established in 1996 as a small retail store that has gradually expanded to large wholesale business with more than thousand products in stock to cater increasing market demand.<br /><br />
                    We are committed to the success of our customers and believe that your hard work is as valuable as ours. Our pricing is based on our cost plus a reasonable profit margin to allow for continued growth and development of our business, employees and future product enhancements.<br /><br />
                    We believe that long term business relationships are built on trust. It is our policy to be honest and open, providing our customers with quality services at a fair price, whilst also ensuring the sustainability of our business.<br /><br />
                    We are not a “get quick rich” company, your success will be our success through mutual trust. All our prices are simple and straight forward shown upfront with no misleading discounts.<br /><br />
                    With a pleasant commercial reputation and advantages of over 25 years of efforts and development, we have set up our own competitive advantages in the Kuwait’s market. Through persistent efforts of the whole staff, we believe our company enjoys great advantages in market, products, scale and prices. We strictly abide by the specifications, follow the business ethics and try best to safeguard our position in Kuwait’s market to supply good quality products consistently with customer satisfaction.<br /><br />
                    We are always ready to serve every potential customer and we’ll be glad to develop business with them. Any inquiries or orders will be greatly appreciated and given the best attention with a prompt reply.
                </p>
            </div>

            <div class="col-12 p-3" id="Terms">
                <a href="#" class="text-decoration-none">
                 <span style="font-size:large">Terms and Conditions</span>
                </a>
            </div>
            <div class="col-11" style="display:none" id="termsandconditions">
                <hr />
                <div class="row">
                    <div class="col-11">
                        <h4 style="font-family:'Comic Sans MS'">Return Policy:</h4>
                    </div>
                    <div class="col-1">
                        <i class="fas fa-window-close" style="color:red" id="cancel"></i>
                    </div>
                </div>
                <p style="font-family:'Comic Sans MS';font-size:medium;">
                    We try our best to ensure that our customers are happy, however, occasionally you may need to replace or return an item. If so this should be done within 14 days from the date of purchase. Item to be returned should be unused and in original packing free from dirt or damage.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
@section scripts{
    <script>
        $(document).ready(function () {
            $("#Terms").click(function () {
                $("#Terms").hide();
                $("#termsandconditions").show();
            });
            $("#cancel").click(function () {
                $("#Terms").show();
                $("#termsandconditions").hide();
            });
        });
    </script>

}


