@using Eid_AL_Kuwait.Models;
@{
    ViewBag.Title = "Home Page";
}


<!--/.Carousel Wrapper-->
<div id="carouselExampleCaptions" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/Images/desert-g2af018014_640.jpg" class="d-block" style="width:100vw;height:400px" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/Images/earth-gab6dd1487_1280.jpg" class="d-block" style="width:100vw;height:400px" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/Images/nature-gfad4b5c1b_1920.jpg" class="d-block" style="width:100vw;height:400px" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--/.Carousel Wrapper-->

<!--New Items-->
<section style="width:auto">
    <div class="container mt-5 shadow rounded-2 bg-light">
        <div class="row justify-content-center">
            <div class="col-10 m-2">
                <h4 class="pt-2 pb-2">New Categories</h4>
                <div class="row pb-4">
                    @foreach (var Category in ViewBag.Categories)
                    {
                        var imgsrc = String.Format("data:image/gif;base64,{0}", !String.IsNullOrEmpty(Category.ImageFileContent) ? Category.ImageFileContent : " ");
                        <div class="col-lg-2 col-md-4 col-sm-4 gx-2" style="text-align:center">
                            @Html.ImageActionLinkWithName((string)Category.CategoryName, "GetProducts", "Categories", new { area = "User", id = Category.CategoryId }, new { style = "height: 150px; width:150px;" }, (string)imgsrc, new Dictionary<string, string> { { "class", "img-thumbnail p-1 border-1 rounded shadow" } })
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    <div class="container mt-5 shadow rounded-2 bg-light">
        <div class="row justify-content-center">
            <div class="col-10 m-2">
                <h4 class="pt-2 pb-2">New Brands</h4>
                <div class="row pb-4">
                    @foreach (var brand in ViewBag.Brands)
                    {
                        var imgsrc = String.Format("data:image/gif;base64,{0}", !String.IsNullOrEmpty(brand.ImageFileContent) ? brand.ImageFileContent : " ");
                        <div class="col-lg-2 col-md-4 col-sm-4 gx-2" style="text-align:center">
                            @Html.ImageActionLinkWithName((string)brand.BrandName, "GetProducts", "Brands", new { area = "User", id = brand.BrandId }, new { style = "height: 150px; width:150px;background-color:aliceblue;" }, (string)imgsrc, new Dictionary<string, string> { { "class", "img-thumbnail p-1 border-1 rounded shadow" } })
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    <div class="container mt-5 shadow rounded-2 bg-light">
        <div class="row justify-content-center">
            <div class="col-10 m-2">
                <h4 class="pt-2 pb-2">New Products</h4>
                <div class="row pb-4">
                    @foreach (var product in ViewBag.Products)
                    {
                        var imgsrc = String.Format("data:image/gif;base64,{0}", !String.IsNullOrEmpty(product.ImageFileContent) ? product.ImageFileContent : " ");
                        <div class="col-lg-2 col-md-4 col-sm-4 gx-2" style="text-align:center">
                            @Html.ImageActionLinkWithName((string)product.ProductName, "Details", "Products", new { area = "User", id = product.ProductId }, new { style = "height: 150px; width:150px;" }, (string)imgsrc, new Dictionary<string, string> { { "class", "img-thumbnail p-1 border-1 rounded shadow" } })
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</section>
<!--New Items-->
<!-- Why choose Use-->
<section>
    <div class="container px-4 py-5" id="Why-choose-us">
        <h2 class="pb-2 border-bottom">Why Choose Us?</h2>
        <div class="row g-5 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start p-4">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <i class="fas fa-store fa-2x"></i>
                </div>
                <div>
                    <p>Our website displays an extensive range of products. Our organized and efficient staff will be happy to assist you with your purchases.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start p-4">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <i class="fas fa-link fa-2x"></i>
                </div>
                <div>
                    <p>Our years of expertise have enabled us to develop high quality products to meet the tough requirements of today’s working environments.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start p-4">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <i class="fas fa-medal fa-2x"></i>
                </div>
                <div>
                    <p>Our Quality Assurance Guarantee is a commitment to ensure the highest quality product and services to all our customers.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <i class="fas fa-truck-moving fa-2x"></i>
                </div>
                <div>
                    <p>With our latest dispatch services, our customers can request for a delivery and our delivery team will get your items to their destination safely and punctually.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <i class="fas fa-smile fa-2x"></i>
                </div>
                <div>
                    <p>We always strive to provide the best services at best possible price with highest regards to customer satisfaction.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <i class="fas fa-blender-phone fa-2x"></i>
                </div>
                <div>
                    <p>Got a question? Ask us anytime on WhatsApp +965-123456789, you may also email us at support@eidalkw.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why choose Use-->
