@model Eid_AL_Kuwait.Areas.Property.Data.Products.ProductImage

@using (Html.BeginForm("ImageUpload_Partial", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="row">
            <div class="offset-1 col-8">
                <input class="form-control" type="file" id="imgFiles" name="imgFiles" multiple>
                @Html.ValidationMessageFor(model => model.ImageFileContent, "", new { @class = "text-danger" })
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-success">Upload</button>
            </div>
        </div>

    </div>
}

