@using Eid_AL_Kuwait.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        @foreach (var category in ViewBag.categoryList)
        {
            var imgsrc = String.Format("data:image/gif;base64,{0}", category.ImageFileContent != null ? category.ImageFileContent : " ");
            var name = String.Format(category.CategoryName);
            <div class="col-2 mb-3" style="text-align:center">
                @Html.ImageActionLinkWithName((string)name, "GetProducts", "Categories", new { id = category.CategoryId }, new { style = "height: 150px; width:150px;" }, (string)imgsrc)
            </div>
        }

    </div>
</div>

