@using Eid_AL_Kuwait.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        @foreach (var product in ViewBag.ProductList)
        {
            var imgsrc = String.Format("data:image/gif;base64,{0}", product.ImageFileContent != null ? product.ImageFileContent : " ");
            var name = String.Format(product.ProductName);
            <div class="col-2 mb-5" style="text-align:center">
                @Html.ImageActionLinkWithName((string)name, "Details", "Products", new { id = product.ProductId }, new { style = "height: 150px; width:150px;" }, (string)imgsrc)
            </div>
        }

    </div>
</div>


